<h1>POC-Upload</h1>
<form method="post" enctype="multipart/form-data">
    <input type="text" multiple name='test' />
    <input type="file" multiple name='test'/>
    <button>Enviar</button>
</form>
